parameters:
	level: 9
	paths:
		- 'php-src'
#	scanFiles:
#		- 'php-tests/CommonTestClass.php'
	excludePaths:
		- 'php-tests/_autoload.php'
		- 'php-tests/_bootstrap.php'
#		- 'php-tests/CommonTestClass.php'
	bootstrapFiles:
		- 'php-tests/_autoload.php'
	ignoreErrors:
		# quality WTF - php8+ returns number. Always. php7- returns false on error.
		-
			message: '#Strict comparison using \=\=\= between false and int#'
			path: 'php-src/Graphics/Processor.php'
		# quality WTF - already covered in that "exists" check
		-
			message: '#expects GdImage, GdImage\|resource given.#'
			path: 'php-src/Graphics/Processor.php'
		# quality WTF - already covered in that "exists" check - php7 wants resource, php8 class
		-
			message: '#Parameter \#1 \$image of function imageavif expects GdImage, GdImage\|resource given.#'
			path: 'php-src/Graphics/Format/Avif.php'
		-
			message: '#Parameter \#1 \$image of function imagebmp expects GdImage, GdImage\|resource given.#'
			path: 'php-src/Graphics/Format/Bmp.php'
		-
			message: '#Parameter \#1 \$image of function imagegif expects GdImage, GdImage\|resource given.#'
			path: 'php-src/Graphics/Format/Gif.php'
		-
			message: '#Parameter \#1 \$image of function imagejpeg expects GdImage, GdImage\|resource given.#'
			path: 'php-src/Graphics/Format/Jpeg.php'
		-
			message: '#Parameter \#1 \$image of function imagepng expects GdImage, GdImage\|resource given.#'
			path: 'php-src/Graphics/Format/Png.php'
		-
			message: '#Parameter \#1 \$image of function imagewbmp expects GdImage, GdImage\|resource given.#'
			path: 'php-src/Graphics/Format/Wbmp.php'
		-
			message: '#Parameter \#1 \$image of function imagewebp expects GdImage, GdImage\|resource given.#'
			path: 'php-src/Graphics/Format/Webp.php'
		-
			message: '#Parameter \#1 \$image of function imagexbm expects GdImage, GdImage\|resource given.#'
			path: 'php-src/Graphics/Format/Xbm.php'
		-
			message: '#Parameter \#1 \$image of function imagerotate expects GdImage, GdImage\|resource\|null given.#'
			path: 'php-src/Graphics/Processor.php'
		-
			message: '#Parameter \#1 \$image of function imageflip expects GdImage, GdImage\|resource\|null given.#'
			path: 'php-src/Graphics/Processor.php'
